In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("Social_Network_Ads.csv")
Data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
X = Data.iloc[:,:-1].values
Y = Data.iloc[:,-1].values

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=0)

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [6]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

GaussianNB()

In [7]:
Y_pred = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
Score = accuracy_score(Y_test, Y_pred)
print(Score)

0.9375